<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>TODOS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <script src="./build/client.build.js"></script>
</head>

<body ng-controller="TodosController as todosCtrl">

    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th style="width: 30%;">Text</th>
            <th>Date added</th>
            <th>Completed</th>
            <th>Options</th>
        </tr>
        <tr ng-repeat="todo in todosCtrl.todos.list | orderBy : 'completed'" ng-class="todo.completed ? 'success' : ''">
            <td>{{$index + 1}}</td>
            <td>{{todo.text}}</td>
            <td>{{todo.time | date}}</td>
            <td>{{todo.completed ? 'Yes' : 'No'}}</td>
            <td>
                <button ng-click="todosCtrl.completeTodo(todo)" class="btn btn-default btn-xs">complete</button>
                <button ng-click="todosCtrl.removeTodo(todo)" class="btn btn-danger btn-xs">remove</button>
            </td>
        </tr>
        <tr ng-show="todosCtrl.text.length" class="success">
            <td>{{todosCtrl.todos.list.length + 1}}</td>
            <td>{{todosCtrl.text}}</td>
        </tr>
    </table>

    <form ng-submit="todosCtrl.addTodo()" class="form-inline">
        <div class="form-group">
            <label eat pizzal>
            <input ng-model="todosCtrl.text" type="text" class="form-control" id="text" placeholder="eat pizza">
        </div>
        <button type="submit" class="btn btn-primary">Add todo</button>
    </form>
</body>

</html>